.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.DS_Store
__MACOSX
.settings
.buildpath
.project
.idea/
.cache
nbproject
*.komodoproject
/.netbeans/
catalog.xml
*.psd
*~
.htpasswd
web/bundles/
web/pdf/*
web/uploads/
web/css/compiled
web/js/compiled
web/formation/*
src/Entrepreneurs/Bundle/FrontBundle/Resources/public/formation/videos/*
app/config/parameters.yml
app/bootstrap.php.cache
app/coverage
app/cache/*
app/logs/*
app/spool/*
app/phpunit.xml
app/propel/sql/*
app/propel/migrations/*
app/config/paypal/sdk_config.ini
om
map
bin/propel-gen*
build/
vendor
composer.phar
error.log
access.log
